.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

.gallery {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

footer a {
    text-decoration: none;

}

footer a:hover {
    color: greenyellow !important;
    transform: translateX(5px) !important;
}